li{
  background-color: bisque;
  width:200px;
  border: 1px solid black
}
ul{
  display: flex;
  margin: 0%
}
.nav-2{
  background-color: greenyellow;
  width: 400px;
  margin: 0%
}
article{
  background-color: goldenrod;
  width:200px;
  border: 1px solid black
}