body{

  margin: auto;
  height: 100vh;
  background-image: url("https://user-images.githubusercontent.com/110297/42118136-996b4a52-7bc6-11e8-8a03-ada078754715.jpg");
  background-position: center
}

body, .header-1{
  display: flex;
}
li{
  list-style: none;
}
.burger-queen{
  width: 60%
}

.header-1{
  background: #FFFFFF
}

.nav-1, .nav-2{
  color: #7B7B7B;
  font-family: Lato;
}
.nav-1 ul, .nav-2 ul{
  display: flex;
  margin: 0%;
  padding: 0%;
  height: 100%;
}
.nav-1 li, .nav-2 li{
  width: 50%;
  height: 100%;
}
.nav-1 a, .nav-2 a{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.nav-1 h3, .nav-2 h5{
  margin: 0%;
  margin-top: 10px;
  font-weight: normal
}
.nav-2{
  background-color: #E8E8E8;
  height: 130px;
}
.logo{
  width: 35%;
  display: flex;
  justify-content: center
}
.nav-1{
  width: 65%
}

.nav-2 ul{
  margin: 0px
}

.menu{
  display: flex;
  justify-content: space-evenly;
  padding: 30px
}

.product{
  text-align: center;
  background: rgba(72, 61, 61, 0.91);
  border-radius: 20px;
  width: 350px;
  color: #FFFFFF;
  font-family: Lato;
  font-weight: normal;
  font-size: 23px;
}
.product p{
  margin: 0px 0px 10px 0px 
}


/* Segunda sección */

.order-list{
  width: 40%;
  background-color: #4B4949;
  color: #FFFFFF;
  font-family: 'Montserrat', sans-serif;
}

.order-list h1, .order-list h2, .order-list h3{
  margin: 0%
}
.order-list h1{
  font-size: 30px;
  padding: 30px;
  text-align: center
}
.order-list h2{
  padding: 15px;
  background-color: #3C3838
}
.order-list ul{
  padding: 0px 40px 0px 40px;
  margin: 0%
}
.order-list li{
  list-style: none;
  padding: 30px 0px 30px 0px;
  border-bottom: black solid 2px
}
.order-list h3{
  margin-bottom: 10px
}
.numbers-order{
  font-size: 20px;
  display: flex;
  justify-content:space-evenly
}